################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Origami-Liquid-/CopilotIndices/0.2.1634.3922
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/Origami-Liquid-/v17
/.vs/Origami-Liquid-/FileContentIndex
